include layout

block content
  h1= header 
  .col-md-12
      .col-md-6
            h2  Comp2068-Lab3
      .col-md-6
           a(href='./Amarjeet') Amarjeet | 
           a(href='./Dad') Dad | 
           a(href='./Mom') Mom |